@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<input type="checkbox" @bind="includeSeries" />

<Chart Type="ChartType.Bar" Labels="@Labels" class="my-background" style="border: 3px dashed green">
    @if (includeSeries)
    {
        <Series Values="@Values" Name="Alpha" />
    }
    <Series Values="@(new double[] { 5, 2, 3, 7, 1 })" Name="Beta" />
</Chart>

<Chart Type="ChartType.Line" Labels="@Labels" ShowArea="true" OnDataClicked="HandleDataClicked">
    <Series Values="@Values" />
</Chart>

<ul>
    @foreach (var line in clickLog) { <li>@line</li> }
</ul>

@code {
    private string[] Labels = new[] { "A", "B", "C", "D", "E" };

    private double[] Values = new double[] { 1, 2, 3, 2, 1 };

    private List<string> clickLog = new List<string>();

    bool includeSeries = true;

    void HandleDataClicked(DataClickedEventArgs eventArgs)
    {
        var value = eventArgs.Series.Data.Skip(eventArgs.EntryIndex).FirstOrDefault();
        clickLog.Add($"User clicked an item with value {value}");
    }
}
